<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
<body>
  <%- include('./partials/navbar.ejs') %>
  <%- include('./partials/searchbar.ejs') %>

  <div class="container">
    
    <img class="responsive-img"  src="/<%= wallpapers.path %>"> 
    <h5>Tags</h5>
    
    

    <% if (wallpapers.tags.length > 0 ) { %>
      
        <% wallpapers.tags.forEach(tag => { %> 
          <div class="chip">
            <%= tag %>
          </div>
        <% }); %>
    
        <% }else{  %>
  
      <p>Add the first tag</p>

    <% } %>
    
    

    
    <div class="container center">
      <form action="/content/:id" method="post">
        <input type="text" placeholder="add a new tag" id="newTag" name="newTag" required>
        <button class= "btn-small" value="<%=wallpapers._id%>" name="id">Submit</button>
      </form>
    </div>
  
  
  
    </div>

</body>
</html>

