<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
  <style>
    .picture-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    justify-items: center;
    grid-gap: 5px;
    grid-row-gap: 15px;
    }

    .grid-box img {
        width: 100%;
        height: 300px;
        overflow: hidden;
        object-fit: cover;
        border-radius: 5px;

    }
  
  </style>

  <body class= "grey lighten-4">
  <%- include('./partials/navbar.ejs') %>
  <%- include('./partials/searchbar.ejs') %>

  <div class="container picture-grid">
    <!-- Page Content goes here -->
  
    <% if (wallpapers.length > 0 ) { %>
      
        <% wallpapers.forEach(wallpaper => { %>
        <div class= "grid-box">
            <a href="/content/<%= wallpaper._id %>">
                <img src="<%= wallpaper.path %>" >
            </a>
        </div>
      
      <% }); %>
    <% }else{  %>
    
      <p>no images found</p>
  
      <% } %>
  </div>
</body>
</html>



