<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
<body>
  <%- include('./partials/navbar.ejs') %>

  <div class="container">
    <!-- Page Content goes here -->
    <%= wallpapers %>
    <% if (wallpapers.length > 0 ) { %>

      <% wallpapers.forEach(wallpaper => { %>
      
        <a href="/content/<%= wallpaper._id %>">
          <img class="responsive-img hoverable "  src="<%= wallpaper.path %>">
        </a>
      
      <% }); %>
    <% }else{  %>
    
      <p>no images found</p>
  
      <% } %>
</body>
</html>



